:global(html, body, #root) {
  height: 100%;
  margin: 0;
background:
    radial-gradient(
      circle at center,
      rgba(255,255,255,0.08),
      transparent 60%
    ),
    linear-gradient(180deg, #243949, #0f2027);
  
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  
}