:global(html, body, #root) {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background: var(--bg-dark);
  background-image: var(--bg-gradient);
  display: flex;
  flex-direction: column; 
}