:global(html, body, #root) {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background: #050505;
  background: radial-gradient(circle,rgba(5, 5, 5, 1) 0%, rgba(18, 18, 18, 1) 50%, rgba(59, 59, 59, 1) 100%);
  display: flex;
  flex-direction: column; 
}