.container {
    max-width: 900px;
    margin:   auto;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    background-color:  #8B9AA5
  }
  
  .container h2 {
    text-align: center;
    background-color: transparent ;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 900;
    color: black;
    text-transform: uppercase;
    border-bottom: 2px solid #FBB900;
    padding-bottom: 0.5rem;
  }

  .fullPage{
    padding: 45px;
    height: 100%;
    
  }

  .userList {
    padding-left: 1rem;
    margin-top: 0.5rem;
  }
  
  .userItem {
    list-style: none;
    margin: 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .userName {
    cursor: pointer;
    color: #333;
    transition: color 0.2s ease;
  }
  
  .userName:hover {
    color: #f57c00;
  }
  
  .iconButtons {
    margin-top: 0.5rem;
    display: flex;
    gap: 6px;
    margin-left: 12px
  }
  
  .iconButton {
    background: none;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 2px;
    transition: transform 0.2s ease;
  }
  
  .iconButton:hover {
    transform: scale(1.2);
    color: #f57c00;
  }

  .iconButtonAdd{
    margin-left: 0.5rem;
  }