.container {
  min-height: 70vh;
  z-index: 1;
  max-width: 780px;
  margin: 40px auto;
  padding: 28px;
  border-radius: 12px;

  background: #b7bfdc;

  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.15),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);

  backdrop-filter: blur(10px);
}
  
.container h2 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: 0.03em;
  color: #1f2f44;

  border-bottom: none;
  margin-top: 12px;
  margin-bottom: 10px;
  border-bottom: 7px solid #FBB900;
}

.fullPage{
  z-index: 1;
  padding: 45px;
  height: 100%;
  background: radial-gradient(
    circle at top,
    #2a4156,
    #0b141c 70%
  );
  
}

  .header {
    display: flex;
    align-items: center; /* Vertically align h2 and the icon */
    justify-content: space-between; /* Push the icon to the right */
    position: relative;
    width: 100%; /* Ensure the header takes the full width */
  }

    .header h2 {
    flex: 1;
    text-align: center; 

    font-size: 2rem;
    font-weight: 900;
    color: black;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
  }

  .iconButton{
    background-color: transparent;
    border: none;
  }

  .iconButton:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .iconButtonAdd{
    background-color: transparent;
    border: none;
    font-size: 1.0rem; 
    cursor: pointer;
    margin-left: 1rem; /* Add spacing between h2 and the icon */
  }

  