

.list {
  position: relative;
  z-index: 1;
  border-radius: 16px;
  overflow-y: auto;
  max-height: 60vh;
  border: none;

  background: transparent;
  padding-right: 2rem;
}


.empty,
.loading,
.error {
  padding: 2rem;
  text-align: center;
  font-style: italic;
  color: #999;
}


.scrollable {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #8f9cc9 #e4e8f4; /* thumb track */
}

.scrollable::-webkit-scrollbar {
  width: 10px;
}

.scrollable::-webkit-scrollbar-track {
  background: #e4e8f4;
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #9aa7d9,
    #7f8fc7
  );
  border-radius: 10px;
  border: 2px solid #e4e8f4;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #aab6e6,
    #8b9bd3
  );
}


@media (max-width: 768px) {
  .listItem {
    margin: 8px 0;
  }
}
